sync:
    mode: 1
    first: kodi
    strict: false
kodi:
    url: http://localhost:80
plex:
    url: http://localhost:32400
    token:
normalize:
    enable: false
    map: {
        smb://localhost/TV/Current/ : /nas/tv/current/,
        smb://localhost/TV/Archive/ : /nas/tv/archive/
    }
